*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "variables.scss";
@import "utility.scss";
@import "partials/header.scss";
@import "partials/main.scss";
@import "partials/main_prodotti.scss";
